:root {
	--primary-color: #222;
	--secondary-color: #2d2d2d;
	--tertiary-color: #cf6eff;
	--quaternary-color: #eee;
	background: var(--primary-color);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Concert One', cursive;
}

body, html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: 8vw; /* default font size */
}

/* my custom color classes */
.bg-my-primary {
	background: var(--primary-color);
}
.bg-my-secondary {
	background: var(--secondary-color);
}
.text-my-tertiary {
	color: var(--tertiary-color);
}
.btn-custom {
	transition-duration: 0.3s;

	border: var(--tertiary-color) solid 0.2em;
	color: var(--tertiary-color);
	background: transparent;
	padding: 0;
	border-radius: 0.5em;
}
.btn-custom:hover {
	border-color: transparent;
	color: var(--secondary-color);
	background: var(--tertiary-color);
}

/* MESSAGE STATUS */
#message-status-failure, #message-status-success {
	text-align: center;
	font-size: 0.23em;
	padding: 0.2em 0.1em;
}
#message-status-failure {
	background: #f2381f;
}
#message-status-success {
	background: #2bc916;
}

#message-status-section a {
	color: #eee;
}
#message-status-section a:hover {
	text-decoration: line-through;
}



/* WELCOME SECTION */
#welcome-section {
	position: relative;
	height: 110vh;
	transition-duration: 0.5s; /* theme switching duration */
}

#theme-switcher {
	background: transparent;
	border: none;
	outline: none;
	transition-duration: 0.3s;
	color: var(--quaternary-color);
	font-size: 0.27em;

	padding: 0;
	position: absolute;
	top: 1.5vh;
	right: 3.2vw;
}
#theme-switcher:hover {
	color: var(--tertiary-color);
}

#welcome-text-1, #welcome-text-2, #welcome-text-3 {
	margin: 0;
}
/* welcome texts sizing */
#welcome-text-1 {
	font-size: 1.2em;
	
	opacity: 0;
	animation: animation1 0.8s 1s ease-out forwards;
}
#welcome-text-2 {
	font-size: 0.6em;
}
#welcome-text-3 {
	font-size: 1.0em;
}

#welcome-div-bottom {
	margin-bottom: 15vh;
	max-height: 0;
	overflow: hidden;
	animation: animation2 1s 2.5s ease-out forwards;
}

/* animation for HELLO text */
@keyframes animation1 {
	0% {
		opacity: 0;
		transform: translate(0, -20vh);
	}
	100% {
		opacity: 1;
	}
}
/* animation for WELCOME text */
@keyframes animation2 {
	0% {
		max-height: 0;
	}
	100% {
		max-height: 40vh;
	}
}

/* SKILL SECTION */
#skills-container {
	text-align: center;
	padding: 0 2em;
}

#skills-container > p {
	color: var(--secondary-color);
	background: var(--quaternary-color);
	border-radius: 0.3em;
	font-size: 0.3em;

	display: inline-block;
	padding: 0.2em 0.5em;
	margin: 0.3em;

	transition-duration: 1s;
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(10vh);
}
.skill-tag-animated {
	opacity: 1 !important;
	transform: translateY(0vh) !important;
}

/* PROJECTS SECTION */
#projects-section {
	background: var(--secondary-color);
}
#projects-container {
	padding: 0 0.8em;
}

/* p for project */
.p-panel {
	width: 100%;
	margin: 0.8em 0 0;
}
.p-img-div {
	display:inline-block;
	width: 50%;

	transition-duration: 1s;
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateX(-20vw);
}
.p-img-div-animated {
	opacity: 1;
	transform: translateX(0vw);
}
.p-img-div > img {
	width: 100%;
	height: auto;
}

.p-info-div {
	display:inline-block;
	width: 50%;
	padding: 0 0.3em;

	transition-duration: 1s;
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateX(20vw);
}
.p-info-div-animated {
	opacity: 1;
	transform: translateX(0vw);
}

.p-name {
	color: var(--tertiary-color);
	font-size: 0.45em;
	text-align: left;
	margin-bottom: 0.3em;
}
.p-tags-div {
	display: block;
	cursor: default;
}
/* each tag */
.p-tags-div > p {
	color: var(--secondary-color);
	background: var(--quaternary-color);
	border-radius: 0.3em;
	font-size: 0.23em;

	display: inline-block;
	padding: 0.1em 0.3em;
	margin: 0.2em 0.2em;
	transition: background 0.3s;
}
.p-tags-div > p:hover {
	background: var(--tertiary-color);
}
.p-description {
	color: var(--quaternary-color);
	text-align: justify;
	font-size: 0.28em;
	margin: 0.3em 0;
}
.p-buttons-div {
	text-align: center;
	font-size: 0.5em;
}
.p-buttons-div > a {
	display: inline-block;
	margin: 0 0.3em;
	padding: 0.4em;
	font-size: 0.5em;
}

/* ABOUT SECTION */
#about-section {
	background: var(--primary-color);
}

#about-paragraph {
	text-align: justify;
	color: var(--quaternary-color);
	font-size: 0.3em;
	font-weight: normal;
	padding: 0.2em 2em;
	margin: 0;
}

/* THE FORM */
#contact-form > button {
	transition: 0.3s;
	font-size: 0.5em;
	padding: 0.3em 0.6em;
	margin: 0 0 1em 0;
	font-size: 0.4em;
}
#inputs-container {
	margin: 0.2em 0;
	padding: 0 2em;
	overflow: hidden;
	max-height: 60vh;
	transition: max-height 0.6s linear;
}
.hidden-inputs-container {
	max-height: 0 !important;
}

#email-input, #message-input {
	padding: 0.4em;
	margin-top: 1em;
	font-size: 0.3em;
	width: 100%;
	display: block;
	outline: none;
	font-family: "Arial";

	background: var(--secondary-color);
	color: var(--tertiary-color);
	border: none;
}

#email-input-underline, #message-input-underline {
	transition: width 0.4s ease-out;
	width: 0%;
	height: 0.1em;
	background: var(--tertiary-color);
}
.focus-underline {
	width: 100% !important;
}
#note-message {
	font-family: Arial;
	font-size: 0.25em;
	margin: 0;
	margin-top: 0.4em;
}

#links-footer > a {
	display: inline-block;
	background: transparent;
	border: none;
	transition: color 0.3s;
	color: var(--quaternary-color);
	font-size: 0.6em;
}
#links-footer > a:hover {
	color: var(--tertiary-color);
}

#copyright-text {
	color: var(--quaternary-color);
	font-size: 0.2em;
	margin: 0;
	text-align: center;
	padding: 1em;
}


/* HEADINGS */
.my-heading {
	color: var(--tertiary-color);
	font-size: 0.55em;
	transition-duration: 1s;
	transition-property: opacity, transform;

	opacity: 0;
	transform: translateY(10vh);
}
.my-heading-animated {
	opacity: 1;
	transform: translateY(0vh);
}

/* SLASH IMAGES */
.slash-img {
	background: linear-gradient(to bottom right, var(--primary-color) 50%, transparent 50%);
	height: 20vh;
	border: none;
}
.slash-img:nth-of-type(2n) {
	background: linear-gradient(to bottom right, transparent 50%, var(--primary-color) 50%);
}


/* scroll bar */
::-webkit-scrollbar {
	width: 1vw;
}
::-webkit-scrollbar-track {
	background: var(--primary-color); 
}
::-webkit-scrollbar-thumb {
	background: var(--tertiary-color); 
}

/* highlighting color */
::selection {
	color: yellow;
	background: #111;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


/* alternative values as the ratio is getting portrait */
@media only screen and (max-aspect-ratio: 6/5){
	body {
		font-size: 17vw;
	}

	#theme-switcher {
		font-size: 0.33em;
	}

	#skills-container {
		padding: 0.2em 0.2em;
	}

	#projects-container {
		padding: 0 0.2em;
	}

	.p-img-div {
		width: 100%;
	}
	.p-info-div {
		width: 100%;
		padding: 0 0.1em;
	}
	.p-name {
		text-align: center;
	}
	.p-tags-div {
		justify-content: center;
	}
	
	#about-paragraph {
		text-align: justify;
		color: var(--quaternary-color);
		font-size: 0.3em;
		font-weight: normal;
		padding: 0.2em 0.5em;
	}

	#inputs-container {
		padding: 0;
	}
}

/* wide screen */
@media only screen and (min-width: 1200px){
	body {
		font-size: 6vw;
	}

	#projects-container {
		padding: 0 1.2em;
	}

	.p-panel {
		width: 50%;
		display: inline-block;
		padding: 0 0.4em;
	}
	.p-panel:nth-child(2n - 1) {
		transform: translateY(10vh); /* shift one column down */
	}

	.p-img-div {
		width: 100%;
	}
	.p-info-div {
		width: 100%;
		padding: 0 0.1em;
	}
	.p-name {
		text-align: center;
	}
	.p-tags-div {
		justify-content: center;
	}
	
	#about-paragraph {
		padding: 0.2em 5em;
	}

	#inputs-container {
		padding: 0 4em;
	}
}